*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
.nav-bar{
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* height: 80px; */
    width: 100%;
    background-color: #2c3e4f;
    color: white ;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 3rem;
    line-height: 1.5;
}
.nav-links{
    display: flex;
    align-items: center;
}

.nav-item{
    margin: 0 15px;
    font-size: 1.5rem;
}
.nav-link:hover{
    transition: color 0.5s;
    color: #1abc9b;
}
header{
    height: 700px;
    background-color: #1abc9b;
    text-align: center;
    padding-top: calc(105px + 4rem);

}
.img-box{
    max-width: 256px;
}
.star-light, .star-dark {
    border: none;
    border-top: 0.4rem solid;
    border-radius: 10px;
    max-width: 25rem;
    margin: 2.5rem auto;
    overflow: visible;
    height: 0;
}
.star-light::after, .star-dark::after {
    content: "\2605";
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -28px;
    padding: 0 8px;
}
#about .star-light::after{
    content: "\2605";
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -28px;
    padding: 0 8px;
    right: -100px;
}
#contact .star-dark::after{
    content: "\2605";
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -28px;
    padding: 0 8px;
    right: -100px;
}
.star-light::after{
    background-color: #1abc9b;
    color: #fff;
}
.star-dark::after{
    background-color: white;
    color: #2c3e4f;
}
.star-light{
    border-color: #fff;
}
.star-dark{
    border-color: #2c3e4f;
}
.header-name{
    font-size: 6rem;
    color: white;
}
#portfolio{
    height: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    color: white;
}
#portfolio h2{
    font-size: 4rem;
    color: #2c3e4f;
}
.portfolio-area{
    padding-bottom: 10rem;
    padding-left: 9rem;
    padding-right: 9rem;
}

.portfolio-img{
    /* max-width: 256px; */
    max-width: 80%;
    margin-top: 10px;
    border-radius: 13px;
}
#about{
    background-color: #1abc9b;
    color: #fff;
    padding-top: 10rem;
    padding-bottom: 15rem;
}
#about h2{
    font-size: 5rem;
    text-align: center;
}
#about .text{
    font-size: 2.2rem;
    
}
.about-text{
    display: flex;
}
.about-text-left{
    padding-left: 20rem;
    padding-right: 2rem;
}
.about-text-right{
    padding-right: 20rem;
    padding-left: 2rem;
}
.btn{
    display: flex;
    justify-content: center ;
    margin-top: 5rem;
}
.btn-download{
    padding: 2.2rem 1.6rem;
    font-weight: 400;
    border: 2px solid #fff;
    color: #fff;
    background-color: #1abc9b;
    font-size: 2rem;
    transition: all 0.5s;
    border-radius: 5px;
}
.btn-download:hover{
    color: black;
    background-color: #fff;
    cursor: pointer;
}
#contact{
    width: 50%;
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#contact h2{
    font-size: 5rem;
    text-align: center;
    color: #2c3e4f;
    font-weight: 800;
}
#form-area{
    text-align: left;
}
.form-item{
    margin-bottom: 10px;
    border-bottom: 1px rgb(231, 231, 231) solid;
}

.form-item input, .form-item textarea{
    font-size: 3rem;
    display: block;
    width: 100%;
    border: none;
    padding-bottom: 2rem;
}

.form-item input:focus, .form-item textarea:focus{
    outline: 0;
}
.btn-send{
    background-color: #1abc9b;
    color: #fff;
    height: 5rem;
    width: 8rem;
    border: none;
    outline: #1abc9b;
    transition: all 0.5s;
    border-radius: 5px;
}
.btn-send:hover{
    background-color:#13705e ;
    cursor: pointer;
}


@media (min-width: 796px) {
#portfolio{
    height: calc(978px + 20rem);
}
 .portfolio-area{
    max-width: 100%;
 }
 .portfolio-item{
    max-width: 50%;
    float: left; 
 }

}

@media (min-width: 1200px) {
    #portfolio{
        height: 900px;
    }
    .portfolio-area{
       max-width: 100%;
    }
    .portfolio-item{
       max-width: 33.3%;

    }
   }
